.cell {
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 17px;
    text-align: left;
    display: inline-block;
    width: 755px;
    height: 214px;
    background: #062540;
    transition: transform 250ms;
}
.cellphoto {
    float: left;
    margin-top: 0px;
    width: 200px;
}
.cell a {
    padding-left: 20px;
    text-decoration: none;
    float: left;
    font-family: Exo2,Arial,Helvetica,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2b71b1;
}
.pcontent h2 {
    padding: 10px 10px 10px 0px;
}
.pagebar a {
    color: #2b71b1;
    text-decoration: none;
}
.pagebar .bar {
    padding: 10px 20px 10px 20px;
}
.pagebar {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 5px;
}
.desc {
    padding: 15px;
    padding-left: 200px;
    width: 755px;
    height: 214px;
}
.desc a {
    color: #2196f3;
}
.desc .text {
    margin-top: 10px;
    margin-right: 30px;
    padding-left: 20px;
    float: left;
    font-size: 15px;
    word-break:break-all;
    transition: 200ms;
}
.desc .title {
    float:right;
    margin-right: 8px;
}
.desc .title a {
    color: #2196f3;
}
.desc .info {
    margin-top: 10px;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 110px;
    float: left;
    font-size: 15px;
    width: 550px;
    height: 30px;
}
.info .geo span {
    display: inline-block;
    width: 32ch;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.info .footer {
    float:left;
    margin-right: 8px;
}
#geospan1 {
    transition: 200ms;
}
#geospan1:hover {
    color: #7a9aef;
}
#geospan .footergood a:hover {
    color: #7a9aef;
}
#geospan .footergood a {
    padding-left: 0px;
}
.text:hover {
    color: #7a9aef;
}
.categorycell img {
    border-radius: 50%;
}
.categorycell {
    box-shadow: 0 0 2px #2196f3, 0 0 4px #2196f3, 0 0 6px #2196f3;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    width: 215px;
    height: 215px;
    transition: transform 250ms;
    background-color: #06223b;
}
.categorycell a {
    text-decoration: none;
    font-family: Exo2,Arial,Helvetica,sans-serif;
    font-size: 18px;
    color: #2196f3;
}
.categorycell:hover {
    transform: translateY(-10px);
}
.notchecked {
    color: #b1ada8;
}
.checked {
    color: #ffbf00;

}
.shopname {
    display: inline-block;
    width: 20ch;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.button {
    float: right;
    margin-bottom: 20px;
}
.button .buybutton {
    background: #0c3d66;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    padding:6px 30px;
    padding-right: 80px;
    padding-left: 80px;
    text-decoration:none;
    transition: 200ms;
}
.button .buybutton:hover {
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    background: #105999;
}
.button .buybutton:active {
    position:relative;
    top:1px;
}
.price {
    margin-top: 25px;
    float: right;
}